In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
# Importing US County GDP csv file
myDF = pd.read_csv('/content/uscountygdp.csv.csv')
myDF.head()

,county_FIPS,state,county,per_capita_personal_income_2019,per_capita_personal_income_2020,per_capita_personal_income_2021,associate_degree_numbers_2016_2020,bachelor_degree_numbers_2016_2020,associate_degree_percentage_2016_2020,bachelor_degree_percentage_2015_2019
0,51013,VA,"Arlington, VA",97629,100687,107603,19573,132394,11.21,75.84
1,35028,NM,"Los Alamos, NM",72366,75949,81306,2766,9098,20.54,67.56
2,8013,CO,"Boulder, CO",79698,83173,89593,45834,135876,21.24,62.97
3,24027,MD,"Howard, MD",78013,82041,86380,42538,136792,19.49,62.67
4,36061,NY,"New York, NY",173525,175327,195543,167960,777483,13.43,62.18

In [4]:
# Printing shape

myDF.shape

(3006, 10)

In [5]:
# Check for NAN values

myDF.isnull().values.any()

False

In [8]:
X = myDF["per_capita_personal_income_2021"].values.reshape(-1, 1)
y = myDF["associate_degree_percentage_2016_2020"].values.reshape(-1, 1)

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state=50)
X_train

array([[54525],
       [54105],
       [64548],
       ...,
       [48428],
       [48733],
       [42153]])

In [16]:

# Training Linear Regression Model
regres = LinearRegression()

regres.fit(X_train, y_train)
print(regres.intercept_)

[29.93241658]

In [17]:

# Slope
print(regres.coef_)

[[2.51572942e-05]]

In [19]:
# Comparing the actual data and the predicted data
y_pred = regres.predict(X_test)

DF_pred = pd.DataFrame({"Actual": y_test.squeeze(), "Predicted": y_pred.squeeze()})
DF_pred

     Actual  Predicted
0     22.83  31.186558
1     32.20  31.083790
2     33.31  31.000293
3     33.38  31.307036
4     38.92  30.988595
..      ...        ...
897   20.64  30.740544
898   26.98  31.085073
899   26.06  31.003463
900   28.92  31.164420
901   30.42  31.047639

[902 rows x 2 columns]

In [20]:

# Evaluating model with Mean Squared Error

from sklearn.metrics import mean_squared_error
import numpy as np

# Checking how close the regression line is to the set of points
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse:.2f}")

Mean Squared Error: 26.28